.app-container {
  display: flex;
  height: 90vh;
  /* padding: 20px; */
}

.left-panel {
  width: 300px;
  background-color: #f4f4f4;
  padding: 20px;
}

.right-panel {
  flex: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 60px; /* Ensures content doesn't go behind the input box */
}

.chat-input-container {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 10px;
  border-top: 1px solid #ddd;
}
