/* Style for the header */
.header {
  background-color: #c7cbce; /* Light background for header */
  padding: 10px 20px; /* Padding around the header */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Flex container for navigation */
.nav-container {
  display: flex; /* Enable Flexbox */
  justify-content: space-between; 
  align-items: center; /* Vertically center the content */
}

.nav-container button {
  background-color: #c7cbce; /* Button color */
  color: rgb(21, 29, 181); /* Button text color */
  border: none; /* Remove border */
  padding: 10px;
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 4px; /* Rounded corners for the button */
  display: flex; /* Flex to align icon and text */
  align-items: center; /* Vertically center the icon and text */
}

.nav-container button i {
  margin-right: 8px; /* Space between icon and text */
  font-size: 20px; /* Icon size */
}

/* Navigation links */
.nav-container ul {
  list-style-type: none; /* Remove list bullets */
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
  display: flex; /* Display links in a row */
}

.nav-container ul li {
  margin-left: 20px; /* Space between list items */
}

.nav-container ul li a {
  text-decoration: none; /* Remove underline */
  color: #333; /* Link color */
  font-size: 16px; /* Font size for links */
}

.nav-container ul li a:hover {
  color: #007bff; /* Change color on hover */
}

/* Style for active navigation links */
.active {
  font-weight: bold;
  color: #007bff;  /* Highlight color */
}

.login-button {
  background-color: #c7cbce; /* Button background */
  color: #333; /* Text color */
  border: 2px solid rgba(0, 0, 0, 0.1); /* Subtle border */
  /* border-color: black; */
  border-radius: 10px; /* Rounded corners */
  padding: 5px 10px; /* Padding inside the button */
  font-size: 16px; /* Font size for text */
  cursor: pointer; /* Pointer cursor on hover */
  /* transition: all 0.3s ease; Smooth hover effect */
}

.login-button:hover {
  background-color: #c7cbce; /* Change background on hover */
  color: white; /* Change text color on hover */
  border-color: black; /* Darker border on hover */
}

.profile-picture {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Match the width for a perfect circle */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image is properly scaled within the circle */
  border: 2px solid #ddd; /* Optional: Adds a border around the image */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a slight shadow */
}
