<!-- src/app/login/login.component.html -->
<div class="login-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required>
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" required>
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
        <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
      </div>
    </div>
    <div class="text-end">
      <button type="submit" class="btn login-btn px-4" [disabled]="loginForm.invalid">Login</button>
    </div>
    
    
  </form>
  <div class="social-login mb-4">
    <h3 class="mb-2">Or login with</h3>
    <div class="social-buttons">
      <button class="btn social-btn mr-2" (click)="loginWithGoogle()">
        <img src="/google-logo.svg" alt="Google Logo" class="social-icon"> Google
      </button>
      <button class="btn social-btn" (click)="loginWithFacebook()">
        <img src="/facebook-logo.svg" alt="Facebook Logo" class="social-icon"> Facebook
      </button>
    </div>
  </div>
  <div class="redirect text-center">
    <p>Don't have an account? <a routerLink="/register" class="link">Sign Up</a></p>
  </div>
  
</div>