<div class="sidebar" [class.open]="isOpen">
  <div class="w-full rounded-lg border shadow-sm overflow-hidden bg-white border-stone-200 shadow-stone-950/5">
    <div class="w-full h-max rounded p-3">
      <ul class="flex flex-col gap-0.5 min-w-60">
        <li
          class="sidebar-item"
          routerLink="/dashboard/categories"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Categories
        </li>
        <li
          class="sidebar-item"
          routerLink="/dashboard/products"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Products
        </li>
        <li
          class="sidebar-item"
          routerLink="/dashboard/orders"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Orders
        </li>
        <hr class="-mx-3 my-3 border-stone-200" />
        <li class="sidebar-item">More</li>
        <hr class="-mx-3 my-3 border-stone-200" />
        <li
          class="sidebar-item text-red-500 hover:bg-red-500/10 hover:text-error focus:bg-error/10 focus:text-error"
          (click)="logout()"
        >
          Logout
        </li>
      </ul>
    </div>
  </div>
</div>
